cassava-leaf-disease/k_fold_*
cassava-leaf-disease/logs
cassava-leaf-disease/no_kfold/models

coursera/CNN/vgg-resnet-inception/logs
coursera/CNN/vgg-resnet-inception/vgg_weight.h5
coursera/CNN/vgg-resnet-inception/vgg16-dog-cat.h5

mnist-tensorflow/best_model.h5
mnist-tensorflow/submission.csv

coursera/DNN-with-Pytorch/week4/data